<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<!--
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style media="screen">
	body {
		background: #F1F3FA;
	}
	/* Profile container */
	.profile {
		margin: 20px 0
	}

	/* Profile sidebar */
	.profile-sidebar {
		padding: 20px 0 10px 0;
		background: #fff;
	}
	.profile-usertitle {
		text-align: center;
		margin-top: 20px;
	}
	.profile-usertitle-name {
		color: #5a7391;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 7px;
	}
	.profile-usermenu {
		margin-top: 30px;
	}

	.profile-usermenu ul li {
		border-bottom: 1px solid #f0f4f7;
	}

	.profile-usermenu ul li:last-child {
		border-bottom: none;
	}

	.profile-usermenu ul li a {
		color: #93a3b5;
		font-size: 14px;
		font-weight: 400;
	}
	.profile-content {
		padding: 20px;
		background: #ffff;
		min-height: 460px;
	}
	.zsx h1{
		text-align:center;
		font-size:110px;
		font-family:'Buenard', serif;
		font-weight:bold;
		text-transform:inherit;
		margin: 0px auto 0px;
		text-shadow: 2px 2px 2px #000;
		-webkit-text-shadow: 2px 2px 2px #000;
		-moz-text-shadow: 2px 2px 2px #000;
	}

	</style>
	<% include header %>
</head>
<body>
	<div class="container">
		<div class="row profile">
			<div class="col-md-3">
				<div class="profile-sidebar">
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							<br>
							<%= user.username %>
						</div>
					</div>
					<div class="profile-usermenu">
						<ul class="nav">
							<li>
								<a href="/logout">Logout</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<br>
				<div class="profile-content">
					<div class="page-header">
						<h1>Library</h1>
					</div>
					<div class="table-responsive">
						<table class="table">
							<tr>
								<th>id</th>
								<th>Name</th>
								<th>Autor</th>
							</tr>
							<%books.forEach(function(books) {%>
								<tr>
									<td>
										<h5><%=books.id%></h5>
									</td>
									<td>
										<h5><%=books.Nombre%></h5>
									</td>
									<td>
										<span class="badge"><%=books.Autor%></span
									</td>
								</tr>
							<%})%>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
